<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spanth="http://www.w3.org/1999/html">
<head>

</head>
<body>
<!-- Main Sidebar Container -->
<aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/index" class="brand-link">
        <span class="brand-text font-weight-light">DPL Creator</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>

            <div sec:authorize="isAuthenticated()" class="info">
                <a th:href="@{/profile}" sec:authentication="name" class="d-block"></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <div sec:authorize="isAuthenticated()" th:if="${companies != null}"class="info">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-header">Companies</li>
                    <li th:each="company : ${companies}" class="nav-item">
                        <a th:href="@{/company(CompanyID=${company.getId()})}" class="nav-link" th:classappend="${mycompany != null && company.getId() == mycompany.getId()} ? active : ' '">
                            <i class="nav-icon fas fa-building"></i>
                            <p>
                                <span th:text="${company.getName()}"></span>
                                <i class="badge badge-info right fas fa-edit"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/company/add}" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle center"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()" th:if="${mycompany != null}"class="info">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li th:if="${mycompany != null}" class="nav-header"><span th:text="${mycompany.getName()}"></span> - Calendars</li>
                    <li th:each="calendar1 : ${mycompany.getCalendars()}"class="nav-item">
                        <a th:href="@{/calendar(CalendarID=${calendar1.getId()})}" class="nav-link" th:classappend="${calendar != null && calendar.getId() == calendar1.getId()} ? active : ' '">
                            <i class="nav-icon far fa-calendar-alt"></i>
                            <p>
                                <span th:text="${calendar1.getName()}"></span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/calendar/add}" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle center"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

</body>
</html>