<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Calendar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/static/dist/css/calendar.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <style>

  </style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Sidebar -->
  <aside th:insert="~{fragments/sidebar :: sidebar}"></aside>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 >Calendar - <span th:if="${mycompany != null}" th:text="${mycompany.getName()}"></span></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item" th:if="${mycompany !=null}" th:text="${mycompany.getName()}"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
              <div class="d-flex justify-content-start">
              <div class="card" style="margin: auto; width: auto;">
                <div class="card-header">Add Shift</div>
                <div class="card-body">
                  <!-- /btn-group -->
                  <div class ="input-group">
                  <div class="form-group">
                    <label for="new-event-start">Start</label>
                    <input id="new-event-start" type="time" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="new-event-end">End</label>
                    <input id="new-event-end" type="time" class="form-control" placeholder="Event Title">
                  </div>
                  <div class="form-group">
                    <label for="new-event-location">Location</label>
                    <select id="new-event-location" class="form-control" placeholder="Event Title">
                      <option th:each="loc : ${locations}" th:value="${loc.getId()}" th:text="${loc.getName()}"></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="repeat" >Repeat:</label>
                    <input id="repeat" type="checkbox" class="form-control" onchange="showRepeatPanel(event)">
                  </div>
                    <!-- /btn-group -->
                  </div>
                  <div id="repeatdays" class="input-group">
                  <div class="form-group">
                    <label for="repeat-monday" >Mo</label>
                    <input id="repeat-monday" type="checkbox" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="repeat-tuesday" >Di</label>
                    <input id="repeat-tuesday" type="checkbox" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="repeat-wednesday" >Mi</label>
                    <input id="repeat-wednesday" type="checkbox" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="repeat-thursday" >Do</label>
                    <input id="repeat-thursday" type="checkbox" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="repeat-friday" >Fr</label>
                    <input id="repeat-friday" type="checkbox" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="repeat-saturday" >Sa</label>
                    <input id="repeat-saturday" type="checkbox" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="repeat-sunday" >So</label>
                    <input id="repeat-sunday" type="checkbox" class="form-control">
                  </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <div class="card-footer">
                  <div class="form-group">
                    <button id="add-new-event" type="button" onclick="addEvent()" class="btn btn-primary">Add New Shift</button>
                  </div>
                </div>
              </div>
              <div class="card" style="margin: auto; width: auto;">
                <div class="card-header">Add Location</div>
                <div class="card-body">
                  <!-- /btn-group -->
                  <div class="input-group">
                    <input id="new-location-name" type="text" class="form-control" placeholder="Location Name">

                    <div class="input-group-append">
                      <button id="add-new-location" type="button" onclick="addLocation()" class="btn btn-primary">Add New Location</button>
                    </div>
                    <!-- /btn-group -->
                  </div>

                  <!-- /input-group -->
                </div>
              </div>

              <div style="margin: auto;" class="card" th:if="${mycompany != null}">
              <div class="card-header">
                <h3 class="card-title">Employees</h3> (Drag and Drop over Shifts)
              </div>
              <div class="card-body">
                <div class="btn-group" style="width: 100%; margin-bottom: 10px;" >
                  <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                  <div class="dragable_employee" th:each="emp : ${mycompany.getEmployees()}" th:data-value="${emp.getKey().getId()}" draggable="true">
                    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                    <div class="dragable_employee_header"  th:text="${emp.getKey().getPrename()}" th:data-value="${emp.getKey().getId()}"></div>
                  </div>
                </div>
                <!-- /btn-group -->

                <!-- /input-group -->
              </div>
            </div>
              </div>
            <!---->
          </div>

          <!-- /.col -->
            <div style="margin: auto;">
            <div class="card card-primary">
              <div class="card-header d-flex justify-content-center">
                <a th:href="@{/calendar(date=${prevdate},CalendarID=${calendar.getId()})}" class ="btn btn-primary" style="margin: auto;"><i class="fas fa-arrow-left"></i></a>
                <h4 th:text="${date}"></h4>
                <a style="margin: auto;" class ="btn btn-primary" th:href="@{/calendar(date=${nextdate},CalendarID=${calendar.getId()})}"><i class="fas fa-arrow-right"></i> </a>
              </div>
              <div class="card-body p-0">
                <!-- THE CALENDAR -->


                <div id="sked1"></div>


              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        <!-- Context-menu -->
        <div class='context-menu'>
          <input type="hidden" id="currentEventID" value="">
          <ul>
            <li onclick="deleteEvent()"><i class="far fa-trash-alt"></i><span>Delete</span></li>
            <li onclick="actualEventSettings()"><i class="fas fa-cog"></i><span>Actual Event Settings</span></li>
            <li onclick="eventTemplateSettings()"><i class="fas fa-cog"></i><span>Event Template Settings</span></li>
          </ul>
        </div>

        <!-- Shift-Settings-menu -->
        <div id='shift-settings-menu' class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Change Event</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeSettings()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form>
              <div class="modal-body">

                  <div class="form-group">
                    <label for="event_start_time">Start</label>
                    <input type="time" class="form-control" id="event_start_time" >
                  </div>
                  <div class="form-group">
                    <label for="event_end_time">End</label>
                    <input type="time" class="form-control" id="event_end_time" >
                  </div>
                  <div class="form-group">
                    <label for="event_date">Date</label>
                    <input type="date" class="form-control" id="event_date">
                  </div>
                  <div class="form-group" th:if="${mycompany != null}">
                    <label for="event_employee">Employee</label>
                    <select id="event_employee">
                      <option th:each="employee : ${mycompany.getEmployees()}" th:value="${employee.getKey().getId()}" th:text="${employee.getKey().getPrename()}"></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="event_location">Location</label>
                    <select id="event_location">
                      <option th:each="loc : ${locations}" th:value="${loc.getId()}" th:text="${loc.getName()}"></option>
                    </select>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateEvent()">Save changes</button>
                <button type="button" class="btn btn-secondary" onclick="closeSettings()" >Close</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <aside th:insert="~{fragments/footer :: footer}"></aside>
  <!-- /.footer -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/dist/js/demo.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.js"></script>
<!-- Page specific script -->
<script src="/static/dist/js/dplcreator.js"></script>
<script src="/static/dist/js/calendar.js"></script>
<script th:if="${mycompany != null}" th:inline="javascript">
  /*<![CDATA[*/

  initSked([[${locations}]], [[${events}]], [[${date}]]);

  /*]]>*/
</script>
</body>
</html>
