<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Calendar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Sidebar -->
  <aside th:insert="~{fragments/sidebar :: sidebar}"></aside>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content" th:if="${mycompany != null}">
      <div calss ="card card-primary">
        <div class="card-header">Employees</div>
        <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Role</th>
          <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp : ${mycompany.getEmployees()}">
          <th class="row" th:text="${emp.getKey().getId()}"></th>
          <td th:text="${emp.getKey().getPrename()}"></td>
          <td th:text="${emp.getKey().getLastname()}"></td>
          <td >Placeholder: Company Roles</td>
          <td >
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
            <a th:href="@{/profile(employeeId=${emp.getKey().getId()})}">
              <i class="fas fa-eye"></i>
            </a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <form method="post" action="/employee/add">
        <tr >
          <th class="row"></th>
          <td ><input type="text" name="empPrename" placeholder="Prename"> </td>
          <td ><input type="text" name="empLastname" placeholder="Lastname"></td>
          <td ><select><option >Placeholder for Roless</option></select></td>
          <td ><button class="btn btn-primary" type="submit">Add</button></td>
        </tr>
        </form>
        </tfoot>
      </table>
      </div>
      </div>
      <div calss ="card card-primary">
        <div class="card-header">Calendars</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="calendar : ${mycompany.getCalendars()}">
              <th class="row" th:text="${calendar.getId()}"></th>
              <td th:text="${calendar.getName()}"></td>
              <td >
                <i class="fas fa-edit"></i>
                <i class="fas fa-trash-alt"></i>
                <a th:href="@{/calendar(CalendarID=${calendar.getId()})}">
                  <i class="fas fa-eye"></i>
                </a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <form method="post" action="/calendar/add">
              <tr >
                <th class="row"></th>
                <td ><input type="text" name="calendarName" placeholder="Calendar Name"> </td>
                <td ><button class="btn btn-primary" type="submit">Add</button></td>
              </tr>
            </form>
            </tfoot>
          </table>
        </div>
      </div>

      <div calss ="card card-primary">
        <div class="card-header">Locations</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${mycompany.getLocations()}">
              <th class="row" th:text="${location.getId()}"></th>
              <td th:text="${location.getName()}"></td>
              <td >
                <i class="fas fa-edit"></i>
                <i class="fas fa-trash-alt"></i>
                <i class="fas fa-eye"></i>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <form method="post" action="/location/add">
              <tr >
                <th class="row"></th>
                <td ><input type="text" name="name" placeholder="Location Name"> </td>
                <td ><button class="btn btn-primary" type="submit">Add</button></td>
              </tr>
            </form>
            </tfoot>
          </table>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <aside th:insert="~{fragments/footer :: footer}"></aside>
  <!-- /.footer -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/dist/js/demo.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.js"></script>
<!-- Page specific script -->
</body>
</html>
