<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
<body>
<table>
    <thead>
    <tr>
    <th>Name</th>
    <th>Calendars</th>
    <th>Employees</th>
    <th>Locations</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="company : ${companies}">
        <td th:text="${company.getName()}"></td>
        <td>
            <ul>
                <li th:each="calendar : ${company.getCalendars()}" th:text="${calendar.getName()}"></li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="employee : ${company.getEmployees()}" th:text="${employee.getKey().getUsername()}"></li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="location : ${company.getLocations()}" th:text="${location.getName()}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>