<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Calendar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Sidebar -->
  <aside th:insert="~{fragments/sidebar :: sidebar}"></aside>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content card card-primary">
      <div class="card-header">
        <span class="card-title"> Edit Prifile</span>
      </div>
      <div class="card-content">
        <div class="row" th:if="${companies != null}">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-header">
                <span class="card-title"><h4>My Info</h4></span>
              </div>

              <form th:action="@{/profile/edit}" method="post">
                <table class="table">
                  <tbody>
                  <tr th:if="${logged_in_user != null}">
                    <th>Username</th>
                    <td ><input type="text" name="username" th:value="${logged_in_user.getUsername()}"></td>
                  </tr>
                  <tr th:if="${current_employee != null}">
                    <th>Name,Prename</th>
                    <td ><input type="text" name="lastname" th:value="${current_employee.getLastname()}"> <input type="text" name="prename" th:value="${current_employee.getPrename()}"></td>
                  </tr>
                  <tr th:if="${current_employee != null}">
                    <th>E-Mail</th>
                    <td ><input type="email" name="email" th:value="${current_employee.getEmail()}"></td>
                  </tr>
                  <!-- <tr th:if="${current_employee != null}">
                     <th>Companies</th>
                     <td>
                       <ul>
                         <li th:each="comp : ${current_employee.getCompanies()}">
                           <a th:href="@{/company(CompanyID=${comp.getId()})}" th:text="${comp.getName()}"></a>
                         </li>
                       </ul>
                     </td>
                   </tr>-->
                  <tr th:if="${logged_in_user != null}">
                    <th>Availability</th>
                    <td>
                      <div class="row">
                        Monday:
                        <input name="mo_from" type="time" th:value="${current_employee.getEmployeeTimes().get(0).getKey()}">
                        -
                        <input name="mo_to" type="time" th:value="${current_employee.getEmployeeTimes().get(0).getValue()}">
                      </div>
                      <div class="row">
                        Tuesday:
                        <input name="tu_from" type="time" th:value="${current_employee.getEmployeeTimes().get(1).getKey()}">
                        -
                        <input name="tu_to" type="time" th:value="${current_employee.getEmployeeTimes().get(1).getValue()}">
                      </div>
                      <div class="row">
                        Wednesday:
                        <input name="we_from" type="time" th:value="${current_employee.getEmployeeTimes().get(2).getKey()}">
                        -
                        <input name="we_to" type="time" th:value="${current_employee.getEmployeeTimes().get(2).getValue()}">
                      </div>
                      <div class="row">
                        Thursday:
                        <input name="th_from" type="time" th:value="${current_employee.getEmployeeTimes().get(3).getKey()}">
                        -
                        <input name="th_to" type="time" th:value="${current_employee.getEmployeeTimes().get(3).getValue()}">
                      </div>
                      <div class="row">
                        Friday:
                        <input name="fr_from" type="time" th:value="${current_employee.getEmployeeTimes().get(4).getKey()}">
                        -
                        <input name="fr_to" type="time" th:value="${current_employee.getEmployeeTimes().get(4).getValue()}">
                      </div>
                      <div class="row">
                        Saturday:
                        <input name="sa_from" type="time" th:value="${current_employee.getEmployeeTimes().get(5).getKey()}">
                        -
                        <input name="sa_to" type="time" th:value="${current_employee.getEmployeeTimes().get(5).getValue()}">
                      </div>
                      <div class="row">
                        Sunday:
                        <input name="so_from"  type="time" th:value="${current_employee.getEmployeeTimes().get(6).getKey()}">
                        -
                        <input name="so_to" type="time" th:value="${current_employee.getEmployeeTimes().get(6).getValue()}">
                      </div>
                    </td>
                  </tr>
                  <tr th:if="${logged_in_user != null}" >
                    <th>Vocation Applications</th>
                    <td>
                      <div style="border: 1px solid #000;" class="row" th:each="apply : ${current_employee.getVocationApplications()}">
                        Time: <span th:text="${apply.getStart()}"></span> - <span th:text="${apply.getEnd()}"></span><br>
                        Status: <span th:text="${apply.getStatus().toString()}"></span>
                      </div>
                    </td>

                  </tr>
                  <tr th:if="${current_employee != null}">
                    <th>Location</th>
                    <td>
                      <div class="row">
                        <div id="locations_not_have" class="col-3">
                          <select style="width: 100%;"  th:id="${comp.getKey().getId() + 'locations_not_have'}" th:each="comp : ${current_employee.getCompanies()}" multiple>
                            <option th:each="loc : ${comp.getKey().getLocations()}" th:if="${#lists.contains(current_employee.getLocations(),loc) == false}" th:text="${loc.getName()}" th:value="${loc.getId()}"></option>
                          </select>
                        </div>
                        <div class = "col-1 center-text align-content-center" style="margin:auto; vertical-align: middle;">
                          <i onclick="addLocation()"> <h4> > </h4> </i>
                          <br />
                          <i onclick="removeLocation()"> <h4> < </h4> </i>
                        </div>
                        <div class="col-3" id="locations_have" >
                          <select style="width: 100%;" th:id="${comp.getId() + 'locations_not_have'}" th:each="comp : ${current_employee.getCompanies()}" multiple>
                            <option th:each="loc : ${comp.getLocations()}" th:if="${#lists.contains(current_employee.getLocations(),loc) == true}" th:text="${loc.getName()}" th:value="${loc.getId()}"></option>
                          </select>
                        </div>
                        <div class="col-5"></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot th:if="${logged_in_user != null}">
                  <button class="btn btn-primary" type="submit">Save</button>
                  </tfoot>
                </table>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <aside th:insert="~{fragments/footer :: footer}"></aside>
  <!-- /.footer -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.js"></script>
<!-- Page specific script -->
<script src="/static/dist/js/dplcreator.js"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  function addLocation()
  {
    var value = "";
    var children = $("#locations_not_have").children();

    for(var i = 0; i < children.length; i++)
    {
      var selected =  $(children[i]).val();
      for(var j = 0; j < selected.length; j++)
      {
        value += selected[j] + "-";
      }
    }
    alert(value);
    var parameters = [{
      variable: "locationids",
      value: value
    }];

    sendRequest("POST", "/employee/location/add", parameters,
    function(http){
      document.location.reload();
    },function(http){

    });
  }

  function removeLocation()
  {
    var value = "";
    var children = $("#locations_have").children();

    for(var i = 0; i < children.length; i++)
    {
      var selected =  $(children[i]).val();
      for(var j = 0; j < selected.length; j++)
      {
        value += selected[j] + "-";
      }
    }
    alert(value);
    var parameters = [{
      variable: "locationids",
      value: value
    }];

    sendRequest("POST", "/employee/location/remove", parameters,
            function(http){
              document.location.reload();
              alert(http.responseText);
            },function(http){

            });
  }

  /*]]>*/
</script>
</body>
</html>
