<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Calendar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Sidebar -->
  <aside th:insert="~{fragments/sidebar :: sidebar}"></aside>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content card card-primary">
      <div class="card-header">
        <span class="card-title">Overview</span>
      </div>
      <div class="card-content">
      <div class="row" th:if="${companies != null}">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-header">
              <span class="card-title"><h4>My Companies</h4></span>
            </div>
            <div class="card-content">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">MyRole</th>
                      <th scope="col">Calendars</th>
                      <th scope="col">Locations</th>
                      <th scope="col">Employees</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr th:each="currcompany : ${companies}">
                    <td th:text="${currcompany.getName()}">Name</td>
                    <td >MyRole</td>
                    <td >
                      <ul>
                        <li th:each="cal : ${currcompany.getCalendars()}">
                          <a href="@{/calendar(CalendarID=${cal.getId()})}" th:text="${cal.getName()}"></a>
                        </li>
                      </ul>
                    </td>
                    <td >
                      <ul>
                        <li th:each="loc : ${currcompany.getLocations()}">
                          <span th:text="${loc.getName()}"></span>
                        </li>
                      </ul>
                    </td>
                    <td >
                      <ul>
                        <li th:each="emp : ${currcompany.getEmployees()}">
                          <span th:text="${emp.getKey().getPrename()}"></span>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <aside th:insert="~{fragments/footer :: footer}"></aside>
  <!-- /.footer -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.js"></script>
<!-- Page specific script -->
</body>
</html>
