<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Calendar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Sidebar -->
  <aside th:insert="~{fragments/sidebar :: sidebar}"></aside>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content card card-primary">
      <div class="card-header">
        <span class="card-title">Prifile Overview</span>
      </div>
      <div class="card-content">
      <div class="row" th:if="${companies != null}">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-header">
              <span class="card-title"><h4>My Info</h4></span>
            </div>
            <div class="card-content">
                <table class="table">
                  <tbody>
                  <tr th:if="${logged_in_user != null}">
                    <th>Username</th>
                    <td th:text="${logged_in_user.getUsername()}"></td>
                  </tr>
                  <tr th:if="${current_employee != null}">
                    <th>Name,Prename</th>
                    <td ><span th:text="${current_employee.getLastname()}"></span>, <span th:text="${current_employee.getPrename()}"></span></td>
                  </tr>
                  <tr th:if="${current_employee != null}">
                    <th>E-Mail</th>
                    <td th:text="${current_employee.getEmail()}"></td>
                  </tr>
                  <tr th:if="${current_employee != null}">
                    <th>Companies</th>
                    <td>
                      <ul>
                        <li th:each="comp : ${current_employee.getCompanies()}">
                          <a th:href="@{/company(CompanyID=${comp.getKey().getId()})}" th:text="${comp.getKey().getName()}"></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr th:if="${logged_in_user != null}">
                    <th>Availability</th>
                    <td>
                      <div class="row">
                        Monday:
                        <span th:text="${current_employee.getEmployeeTimes().get(0).getKey()}"></span>
                        -
                        <span th:text="${current_employee.getEmployeeTimes().get(0).getValue()}"></span>
                      </div>
                      <div class="row">
                        Tuesday:
                        <span th:text="${current_employee.getEmployeeTimes().get(1).getKey()}"></span>
                        -
                        <span th:text="${current_employee.getEmployeeTimes().get(1).getValue()}"></span>
                      </div>
                      <div class="row">
                        Wednesday:
                        <span th:text="${current_employee.getEmployeeTimes().get(2).getKey()}"></span>
                        -
                        <span th:text="${current_employee.getEmployeeTimes().get(2).getValue()}"></span>
                      </div>
                      <div class="row">
                        Thursday:
                        <span th:text="${current_employee.getEmployeeTimes().get(3).getKey()}"></span>
                        -
                        <span th:text="${current_employee.getEmployeeTimes().get(3).getValue()}"></span>
                      </div>
                      <div class="row">
                        Friday:
                        <span th:text="${current_employee.getEmployeeTimes().get(4).getKey()}"></span>
                        -
                        <span th:text="${current_employee.getEmployeeTimes().get(4).getValue()}"></span>
                      </div>
                      <div class="row">
                        Saturday:
                        <span th:text="${current_employee.getEmployeeTimes().get(5).getKey()}"></span>
                        -
                        <span th:text="${current_employee.getEmployeeTimes().get(5).getValue()}"></span>
                      </div>
                      <div class="row">
                        Sunday:
                        <span th:text="${current_employee.getEmployeeTimes().get(6).getKey()}"></span>
                        -
                        <span th:text="${current_employee.getEmployeeTimes().get(6).getValue()}"></span>
                      </div>
                    </td>
                  </tr>
                  <tr th:if="${logged_in_user != null}" >
                    <th>Vocation Applications</th>
                    <td>
                      <div style="border: 1px;" class="row" th:each="apply : ${current_employee.getVocationApplications()}">
                      Time: <span th:text="${apply.getStart()}"></span> - <span th:text="${apply.getEnd()}"></span><br>
                      Status: <span th:text="${apply.getStatus().toString()}"></span>
                      </div>
                    </td>

                  </tr>
                  <tr th:if="${logged_in_user != null}">
                    <a class="btn btn-primary" th:href="@{/profile/edit}">Edit</a>
                  </tr>
                  </tbody>

                </table>

            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <aside th:insert="~{fragments/footer :: footer}"></aside>
  <!-- /.footer -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/jquery-sked-tape/dist/jquery.skedTape.js"></script>
<!-- Page specific script -->
</body>
</html>
